body {
  background-color: #4E5257;
}
hr{
  border-color: #4E5257;
}
.caption {
  font-size: 4vmin;
  color: rgba(209, 233, 249, 0.89);
}
.card-body {
  color: white;
  background-color:#232528;
}
.artistInfo {
  border: 0;
  padding:0;
}
.eventPopout {
  position:absolute;
  width: 100vw;
  height: 85vh;
  top: 10vh;
  background-color: #83888f;
  z-index: 2;
  flex-direction: wrap;
  flex-wrap: wrap;
  display:flex;
}
.eventPopoutContainer {
}
#map {
  width:90vw;
  height:auto;
}
.circleBorder{
  border: 2px solid;
}
.venueName,
.dates{
  font-size: 4vmin;
}
