body {
    background-color: #4E5257;
}
hr{
    border-color: #4E5257;
}
#navigation {
  z-index: 5;
}
.caption {
  font-size: 4vmin;
  color: rgba(209, 233, 249, 0.89);
}
.card-body {
  color: white;
  background-color:#232528;
}
.artistInfo {
  border: 0;
  padding:0;
}
.eventPopout {
    width: 100%;
    height: 100%;
    top: 0;
    background-color: #83888f;
    z-index: 2;
    flex-wrap: wrap;
    display: flex;
    position:absolute;
}
.eventPopoutContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
}
.container-fluid {
    width: 100%;
}
#map {
  width:100%;
  height:50%;
}
.circleBorder{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 0;
    padding-bottom: 100%;
    position: relative;
    width: 100%;
    border: 2px solid #09E3F5;
}
.dates{
    font-size: 4vmin;
}
#zipInputContainer {
  display:flex;
}

#playBox{
  margin: 0 auto
}
#navigation {
  background-color: #00bfcf;
}
#hamburger {
  position:absolute;
    float:right;
  right: 4vw;
  top: 2vh;
}
