body {
  background-color: #4E5257;
}
.caption {
  color: rgba(209, 233, 249, 0.89);
}
.card-body {
  color: white;
  background-color:#232528;
}
.artistInfo {
  border: 0;
  padding:0;
}
.eventPopout {
  position:absolute;
  width: 100vw;
  height: 85vh;
  top: 10vh;
  background-color: #83888f;
  z-index: 2;
  display: none;
}
#map {
  width:90vw;
  height:auto;
}
